menu "ESPDrone Config"

    choice
        prompt "Board Name"
        default TARGET_FLYINGFREE_V01

        config TARGET_FLYINGFREE_V01
            bool "TARGET_FLYINGFREE_V01"
    
    endchoice   

    if TARGET_FLYINGFREE_V01
    menu "FlyingFree 1.0 configurator"
        config PLATFORM_STRING
            string "Platform specific"
            default "0;FF01"
            help
                Platoform specific identification string ("0;" required chars)
        
        config BMI160_ENABLE
            bool "Enable BMI160 sensor"
            default y

        config QMC5883L_ENABLE
            bool "Enable QMC5883L sensor"
            default n
        
        config BMP280_ENABLE
            bool "Enable BMP280 sensor"
            default n
    endmenu
    endif
    

    menu "App set"
        config ENABLE_LEGACY_APP
            bool "Enable legacy ESPlane1.0 APP"
            default n
            help
                This enables the udp_server_rx2_task of wifi.
        config ENABLE_POSITION_HOLD_MODE
            bool "Enable position hold mode"
            default y
            help
                This enables position hold mode when pmw3901 sensors available.
        config ENABLE_COMMAND_MODE_SET
            bool "Enable \'setCommandermode\' to transform command"
            depends on ENABLE_POSITION_HOLD_MODE
            default y if ENABLE_POSITION_HOLD_MODE
            default n if !ENABLE_POSITION_HOLD_MODE
            help
                This enables assit mode when use old version app.
    endmenu

    menu "Wireless config"
        config WIFI_BASE_SSID
            string "Wi-Fi Base SSID"
            default "ESP-DRONE"
            help
                Wi-Fi Base SSID, 1-16 characters. the final SSID will be BASE_SSID-MAC
        config WIFI_PASSWORD
            string "Wi-Fi Password"
            default "12345678"
            help
                Wi-Fi Password, 8-64 characters
        config WIFI_CHANNEL
            int "Wi-Fi/ESP-Now Channel"
            range 1 13
            default 6
            help
                Wi-Fi/ESP-Now Channel, 1-13
        config WIFI_MAX_STA_CONN
            int "Wi-Fi Max Station Connection"
            range 1 6
            default 3
            help
                Wi-Fi Max Station Connection, 1-6
    endmenu

    menu "System"

        config BASE_STACK_SIZE
            int "base stack size for system task"
            range 512 1024
            default 1024 if IDF_TARGET_ESP32
            default 512 if IDF_TARGET_ESP32S2
            default 1024 if IDF_TARGET_ESP32S3

    endmenu

    menu "Buzzer"
        config BUZZER_ENABLE
            bool "enable buzzer to play sound"
            default y if TARGET_FLYINGFREE_V01
                help
                Tick if buzzer available

        if BUZZER_ENABLE
            config BUZ1_PIN_POS
                int "BUZ1_PIN_POS GPIO number"
                range 0 39 if TARGET_FLYINGFREE_V01
                default 02 if TARGET_FLYINGFREE_V01
                help
                    GPIO number (IOxx) BUZ1_PIN_POS
        endif
    endmenu
    
    menu "UART"
        config UART1_AVAILABLE
            bool "UART1 Available"
            default n if TARGET_FLYINGFREE_V01
            help
                Tick if UART1 available

        config UART2_AVAILABLE
            bool "UART2 Available"
            default n if TARGET_FLYINGFREE_V01
            help
                Tick if UART2 available
    endmenu

    menu "ADC"
        config ADC_ENABLE
            bool "At least one ADC channel available"
            default y if TARGET_FLYINGFREE_V01
            help
                Tick if you want to use an ADC channel

        if ADC_ENABLE
            config ADC1_PIN
                int "ADC1_PIN Channel number"
                range 0 39 if TARGET_FLYINGFREE_V01
                default 34 if TARGET_FLYINGFREE_V01
                help
                    GPIO number (IOxx) ADC1_PIN
        endif
    endmenu

    menu "I2C"
        config I2C0_ENABLE
            bool "Activate I2C channel 0"
            default y if TARGET_FLYINGFREE_V01
            help
                Tick if you want to use I2C channel 0

        config I2C1_ENABLE
            bool "Activate I2C channel 1"
            default n if TARGET_FLYINGFREE_V01
            help
                Tick if you want to use I2C channel 1

        if I2C0_ENABLE
            config I2C0_PIN_SDA
                int "I2C0_PIN_SDA GPIO number"
                range 0 39 if TARGET_FLYINGFREE_V01
                default 21 if TARGET_FLYINGFREE_V01
                help
                    GPIO number (IOxx) I2C0_PIN_SDA

            config I2C0_PIN_SCL
                int "I2C0_PIN_SCL GPIO number"
                range 0 39 if TARGET_FLYINGFREE_V01
                default 22 if TARGET_FLYINGFREE_V01
                help
                    GPIO number (IOxx) I2C0_PIN_SCL
        endif

        if I2C1_ENABLE
            config I2C1_PIN_SDA
                int "I2C1_PIN_SDA GPIO number"
                help
                    GPIO number (IOxx) I2C0_PIN_SDA

            config I2C1_PIN_SCL
                int "I2C1_PIN_SCL GPIO number"
                help
                    GPIO number (IOxx) I2C0_PIN_SCL
        endif
    endmenu

    menu "SPI"
        config VSPI_ENABLE
            bool "Activate VSPI channel"
            default y if TARGET_FLYINGFREE_V01
            help
                Tick if you want to use VSPI channel 0

        if VSPI_ENABLE
            config VSPI_PIN_MISO
                int "VSPI_PIN_MISO GPIO number"
                range 0 39 if TARGET_FLYINGFREE_V01
                default 19 if TARGET_FLYINGFREE_V01
                help
                    GPIO number (IOxx) VSPI_PIN_MISO

            config VSPI_PIN_MOSI
                int "VSPI_PIN_MOSI GPIO number"
                range 0 39 if TARGET_FLYINGFREE_V01
                default 23 if TARGET_FLYINGFREE_V01
                help
                    GPIO number (IOxx) VSPI_PIN_MOSI

            config VSPI_PIN_CLK
                int "VSPI_PIN_CLK GPIO number"
                range 0 39 if TARGET_FLYINGFREE_V01
                default 18 if TARGET_FLYINGFREE_V01
                help
                    GPIO number (IOxx) VSPI_PIN_CLK

            config VSPI_PIN_CS0
                int "VSPI_PIN_CS0 GPIO number"
                range 0 39 if TARGET_FLYINGFREE_V01
                default 05 if TARGET_FLYINGFREE_V01
                help
                    GPIO number (IOxx) VSPI_PIN_CS0
        endif
    endmenu

    menu "Led config"
        config LED_PIN_BLUE_ENABLE
            bool "Blue Led Available"
            default y if TARGET_FLYINGFREE_V01 
            help
                Tick if blue led available

        config LED_PIN_GREEN_ENABLE
            bool "Green Led Available"
            default y if TARGET_FLYINGFREE_V01 
            help
                Tick if blue led available

        config LED_PIN_RED_ENABLE
            bool "Red Led Available"
            default y if TARGET_FLYINGFREE_V01 
            help
                Tick if blue led available
        
        config LED_PIN_BLUE
            int "LED_PIN_BLUE GPIO number"
            depends on LED_PIN_BLUE_ENABLE
            range 0 39 if TARGET_FLYINGFREE_V01 
            default 16 if TARGET_FLYINGFREE_V01
            default -1 if !LED_PIN_BLUE_ENABLE
            help
                GPIO number (IOxx) LED_PIN_BLUE

        config LED_PIN_GREEN
            int "LED_PIN_GREEN GPIO number"
            depends on LED_PIN_GREEN_ENABLE
            range 0 39 if TARGET_FLYINGFREE_V01 
            default 04 if TARGET_FLYINGFREE_V01
            default -1 if !LED_PIN_GREEN_ENABLE
            help
                GPIO number (IOxx) LED_PIN_GREEN

        config LED_PIN_RED
            int "LED_PIN_RED GPIO number"
            depends on LED_PIN_RED_ENABLE
            range 0 39 if TARGET_FLYINGFREE_V01 
            default 17 if TARGET_FLYINGFREE_V01
            default -1 if !LED_PIN_RED_ENABLE
            help
                GPIO number (IOxx) LED_PIN_RED
    endmenu

    menu "Motors config"
        choice
            prompt "Motor Type"
            default BRUSHLESS if TARGET_FLYINGFREE_V01
            
            config BRUSHLESS
                bool "Brushless Motors"
    
            config BRUSHED
                bool "Brushed DC motors"

        endchoice

        choice
            prompt "Control protocol"
            default DSHOT_150 if BRUSHLESS
            default PWM if BRUSHED
            
            config DSHOT_150
                bool "DShot150"
    
            config DSHOT_300
                bool "DShot300"

            config DSHOT_600
                bool "DShot600"
    
            config PWM
                bool "PWM"
        endchoice

        config MOTOR01_PIN
            int "MOTOR01_PIN GPIO number"
            range 0 39 if TARGET_FLYINGFREE_V01
            default 27 if TARGET_FLYINGFREE_V01
            help
                GPIO number (IOxx) MOTOR01_PIN

        config MOTOR02_PIN
            int "MOTOR02_PIN GPIO number"
            range 0 39 if TARGET_FLYINGFREE_V01
            default 26 if TARGET_FLYINGFREE_V01
            help
                GPIO number (IOxx) MOTOR02_PIN

        config MOTOR03_PIN
            int "MOTOR03_PIN GPIO number"
            range 0 39 if TARGET_FLYINGFREE_V01
            default 25 if TARGET_FLYINGFREE_V01
            help
                GPIO number (IOxx) MOTOR03_PIN

        config MOTOR04_PIN
            int "MOTOR04_PIN GPIO number"
            range 0 39 if TARGET_FLYINGFREE_V01
            default 33 if TARGET_FLYINGFREE_V01
            help
                GPIO number (IOxx) MOTOR04_PIN
    endmenu

    menu "Debug options"
        config DEBUG_ENABLE
            bool "Activate debug mode"
            default y
            help
                Tick if you want to debug your system

        if DEBUG_ENABLE

        choice
            prompt "Select debug output method"
            default DEBUG_PRINT_ON_SEGGER_RTT

            config DEBUG_PRINT_ON_UART
                bool "UART"
                help
                    Enable debug printing on UART

            config DEBUG_PRINT_ON_SEGGER_RTT
                bool "JTAG"
                help
                    Enable debug printing on SEGGER RTT (JTAG)
        endchoice

        endif
    endmenu

    menu "Calibration angle"
        config PITCH_CALIB
            int "PITCH_CALIB deg*100"
            range -200 200
            default 0
            help
                if PITCH error angle is 0.90,set this 90

        config ROLL_CALIB
            int "ROLL_CALIB deg*100"
            range -200 200
            default 0
            help
                if ROLL error angle is 0.90,set this 90
    endmenu
endmenu